html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
body {
    margin: 0;

    font-size: 16px;
    color: #000;
    font-family: "Myriad Set Pro", sans-serif;
    background-color: #fff;

    position: relative;
}

a {
    display: inline-block;

    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1030px;
}
.container-sm {
    max-width: 920px;
}
.header {
    position: relative;
    z-index: 1000;
}

.header-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.header-top__logo {
    max-width: 265px;
    width: 100%;
}
.header-top__text {
    max-width: 240px;
    text-align: center;
    margin-right: 140px;
    font-size: 12px;
    font-weight: 700;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header-top__text > span {
    text-decoration: underline dotted;
}
.header__menu-inner {
    display: flex;
}
.header__logo {
    display: none;
}
.menu {
    display: flex;
    max-width: 790px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.menu__logo-text {
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    border-radius: 7px;
    background-color: #fddc76;
    padding: 4px 10px;
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: -70px;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 5px 0;
    margin: 0;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu__list-item {
    width: 16.5%;
    text-align: center;
}
.menu__list-item:hover .menu__list-link {
    border-bottom: 0px dashed blue !important;
    color: #000000 !important;
    font-size: 12px;
    transform: scale(1);
}

.menu__list-link {
    padding: 2px 4px;

    border-bottom: 0px dotted black !important;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    color: #0099ff !important;
    cursor: pointer;
}
.header__hamburger span,
.header__hamburger::before,
.header__hamburger::after {
    height: 2px;
    width: 100%;
    background-color: black;

    position: absolute;
    left: 0;

    transition: all 0.3s linear;
}
.header__hamburger::before,
.header__hamburger::after {
    content: "";
}
.header__hamburger::after {
    bottom: 0;
}
.header__hamburger::before {
    top: 0;
}
.header__hamburger span {
    top: 50%;
    transform: scale(1) translateY(-50%);
}
.header__hamburger._active span {
    transform: scale(0);
}
.header__hamburger._active::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
.header__hamburger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}
.header__hamburger {
    display: none;
    width: 3.2rem;
    height: 1.8rem;
    padding: 0;

    background: transparent;
    border: none;
    cursor: pointer;

    z-index: 1000;

    position: relative;
}
.intro__header {
    text-align: center;
    padding: 20px 0 30px;
    max-width: 780px;
    margin: 0 auto;
}
.intro__title {
    font-size: 24px;
    padding-bottom: 10px;
}
.intro__title-sm {
    padding-top: 30px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.intro__subtitle {
    font-size: 28px;
}
.intro__subtitle span {
    text-decoration: underline dotted;
}
.intro__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}
.intro__img {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
}
.intro__img-box {
    width: 100%;
}
.intro__gif {
    width: 130px;
    position: absolute;
    top: 0;
    left: 0;
}
.intro__box {
    max-width: 300px;
    padding-top: 40px;
    width: 100%;
}
.intro__box-title {
    padding-bottom: 15px;
    font-size: 16px;
}
.intro__box-text {
    text-align: justify;
}
.intro__frames {
    margin-bottom: 22px;
}
.intro__frame-title {
    padding-bottom: 10px;
}
.intro__frame {
    display: inline-block;
    margin-bottom: 5px;
    padding: 4px 10px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    border-radius: 7px;
    background-color: #fddc76;
    font-size: 25px;
}
.intro__box-text:not(:last-child) {
    padding-bottom: 22px;
}
.intro__box-text-price {
    padding-bottom: 22px;
    font-weight: 700;
}
.intro__box-text-price span {
    color: #33cc00;
    font-weight: 400;
}
.intro__box-text-pb15 {
    padding-bottom: 15px;
}
.intro__box-input {
    padding-bottom: 22px;
}
.intro__box-text-sm {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
}
.intro__box-input {
    padding-bottom: 22px;
}

.section {
    padding-top: 60px;
}
.section__header {
    text-align: center;
    padding-bottom: 25px;
}
.section__header span {
    font-size: 35px;
}
.section__header .yellow-bg {
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
	border-radius: 7px;
	background-color: #FDDC76;
    padding: 4px 10px; 
    line-height: 20px;
}
.section__header h4 {
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
}
.section__video {
    display: flex;
    justify-content: center;
}
.section__video iframe {
    max-width: 850px;
    width: 100%;
    height: 510px;
}
.section__items {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.section__item-list {
    padding-left: 10px;
}
.section__item-big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;
}
.section__item-content {
    max-width: 320px;
    padding: 0 10px;
}
.section__item-content-big {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
}
.section__item-content-big .section__item-title {
    padding-left: 30px;
}
.section__item-img {
    margin: 0 10px;
    max-width: 525px;
    box-shadow: 7px 7px 7px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.section__item-title {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}
.section__item-title span {
    font-size: 18px;
}
.section__item-text {
    text-align: justify;
}
.section__item-text:not(:last-child) {
    padding-bottom: 15px;
}
.section__img {
    display: flex;
    justify-content: center;
}
.footer {
    padding-top: 25px;
}
.footer__line {
    margin: 30px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
}
.footer .section__header h2 {
    font-size: 28px;
}
.footer__img {
    margin: 0 auto;
}
.delivery-line {
    max-width: 100%;
    width: 100%;
    height: 5px;
}
.delivery {
    position: relative;
    margin-bottom: 30px;
}
.delivery__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 0;
}
.delivery__img {
    position: absolute;
    top: 10px;
    left: 5px;
}
.delivery__title {
    margin: 20px 0;
    display: inline-block;
    font-size: 35px;
    background-color: #ff0;
    /* line-height: 23px; */
    font-family: Segoe UI Light, Helvetica, Arial, Sans-Serif;
}
.delivery__text:not(:last-child) {
    padding-bottom: 22px;
}
.delivery__text span {
    background-color: #ff0;
}
.delivery__text .underline {
    background-color: inherit;
    text-decoration: underline;
}
.delivery__list {
    padding: 0 0 22px 15px;
    margin: 0;
}
.delivery__list span {
    margin-left: -15px;
}
.delivery__images {
    display: flex;
    align-items: center;
}
.addresses {
    padding: 50px 0;
}
.addresses__title {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f8f8f8;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.addresses__subtitle {
    text-align: center;
    font-size: 16px;
}
.addresses__subtitle span {
    font-weight: 700;
    font-size: 12px;
}
.addresses__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.addresses__column {
    max-width: 310px;
    width: 100%;
    padding: 0 10px;
    min-width: 200px;
}
.addresses__column-title {
    padding-bottom: 15px;
}
.addresses__column-title-sm {
    font-size: 11px;
    padding-bottom: 13px;
}
.addresses__column-text {
    padding-bottom: 15px;
}
.addresses__column-list {
    padding: 0 0 0 15px;
    margin: 0 0 25px 0;
}
.addresses__input {
    text-align: center;
    margin-top: 30px;
}

.privacy__title {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.privacy__text {
    padding-bottom: 20px;
}

.style1 {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.style2 {
    font-weight: bold;
}

.style3 {
    font-family: "Myriad Set Pro";
}

.b1c-submit,
.b1c {
    -webkit-appearance: none !important;
    color: #fff !important;
    padding: 8px 15px !important;
    font: normal 20px "Trebuchet MS", sans-serif !important;
    text-shadow: 0 1px 0 #000 !important;
    font-weight: 700 !important;
    border-radius: 6px !important;
    -webkit-border-radius: 8px !important;
    cursor: pointer !important;
    background: #ff6600 !important;
    border: 0 !important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #ff6600),
        color-stop(1, #ff9000)
    ) !important;
    box-shadow: 0 1px 1px #999 !important;
}

div.b1c-close {
    float: right !important;
    padding: 12px 10px !important;
    background: linear-gradient(#ff8000 0%, #ffa000 100%) !important;
    overflow: hidden !important;
}

.b1c-tl {
    overflow: hidden !important;
    border-radius: 2px 2px 0 0 !important;
    background: linear-gradient(#ff8000 0%, #ffa000 100%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #1b457d !important;
    font-size: 13px !important;
    margin: 0 !important;
}

@media (max-width: 1460px) {
    .delivery__inner {
        padding-left: 80px;
    }
}
@media (max-width: 1250px) {
    .delivery__img {
        width: 200px;
    }
}
@media (max-width: 1060px) {
    .header-top__text {
        margin-right: 0;
    }
    .delivery__img {
        display: none;
    }
    .delivery__inner {
        padding-left: 0;
    }
    .delivery__title {
        font-size: 26px;
    }
    .addresses__column {
        width: 250px;
    }
    .menu__logo-text {
        display: none;
    }
}
@media (max-width: 800px) {
    .delivery__images {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .addresses__column {
        width: 330px;
    }
    .section__item {
        flex-direction: column;
    }
    .section__item:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .section__item-content {
        margin-bottom: 25px;
        max-width: 80%;
    }
    .section__item-big {
        flex-direction: column-reverse;
    }
    .section__item-content-big {
        max-width: 80%;
        padding: 0;
    }
    .section__item-title {
        padding-left: 0 !important;
        padding-bottom: 15px;
    }
    .intro__inner {
        flex-direction: column;
        align-items: center;
    }
    .intro__box {
        max-width: 100%;
        margin-top: 20px;
    }
    .intro__img {
        padding-right: 0;
    }
}
@media (max-width: 700px) {
    .intro {
        padding-top: 80px !important;
    }

    .section {
        padding-top: 30px;
    }
    .section__video iframe {
        height: 300px;
    }

    .header__menu {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .header__logo {
        display: block;
        z-index: 100000;
    }
    .header__menu-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100000;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .header-top {
        display: none;
    }
    .header__hamburger {
        display: block;
    }
    .menu {
        flex-direction: column;
        align-items: start;
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 90px 20px 20px;
        overflow: auto;

        background: white;
        transition: all 0.3s linear;

        position: fixed;
        top: 0;
        left: -100%;
    }
    .menu::before {
        content: "";
        width: 100%;
        height: 59px;

        background: white;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .menu._active {
        left: 0;
    }
    .menu__list {
        flex-direction: column;
        order: 2;
        border: none;
    }
    .menu__list-item {
        margin: 10px 0;
        width: 100%;
        text-align: left;
    }
    .menu__list-item:hover .menu__list-link {
        border-bottom: 0px dashed blue !important;
        color: #000000 !important;
        font-size: 30px;
        transform: scale(1);
    }
    .menu__list-link {
        color: #fff;
        font-size: 3rem;
    }
}
@media (max-width: 670px) {
    .addresses__column {
        width: 200px;
    }
}
@media (max-width: 480px) {
    .header__logo {
        width: 180px;
    }
    .delivery__inner {
        padding: 40px 0;
    }
    .intro__header {
        padding-top: 0;
    }
    .addresses__title {
        font-size: 18px;
        margin-top: 15px;
    }
    .addresses {
        padding: 30px 0;
    }
    .addresses__column {
        width: 100%;
        max-width: 100%;
    }
    .footer {
        padding-top: 0;
    }
    .footer .section__header h2 {
        font-size: 22px;
    }
    .section__item-content {
        max-width: 100%;
    }
    .section__item-content-big {
        max-width: 100%;
    }
}
